<!DOCTYPE html>
<html>
    <head>
        <title>Reviews page</title>
        <link rel="stylesheet" href="/static/css/styles.css"/>
    </head>
<body>
        <h1>Anime Reviews by Cats</h1>
        <center>
            <h2>List of Anime reviewed</h2>
        <ul id="anime-list">
            <li><span>1:</span> Naruto</li>
            <li><span>2:</span> Berserk</li>
            <li><span>3:</span> Death Note</li>
        </ul>
        <hr/>
    <div class="container-review" id="review-1">
        <img src="https://i0.hippopx.com/photos/324/344/47/cat-pet-adidas-portrait-preview.jpg"/>
        <h5>Review by: Jun Kazama</h5>
        <h4>Reviewed: Naruto</h4>
        <p>
            Naruto is the best anime series ever!
        </p>
    </div>
    <hr/>
    
    <div class="container-review" id="review-2">
<img src="https://cdn.shopify.com/s/files/1/0011/0552/articles/RCF_blog_1600x.jpg?v=1556467722"/>
        <h5>Review by: Kazuya Mishima</h5>
        <h4>Reviewed: Berserk</h4>
        <p>
            Berserk is better than Naruto.
        </p>
    </div>
    <hr/>

    <div class="container-review" id="review-3">
        
    <img src="https://live.staticflickr.com/2760/4273823660_f3a0e45628_b.jpg"/>
        <h5>Review by: Jin Kazama</h5>
        <h4>Reviewed: Death Note</h4>
        <p>
            Most original horror story ever.
        </p>
    </div>
    <hr/>
    </center>
</body>
</html>
